@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


body{
    font-family: 'Inter', sans-serif;
}

.dark{
    color-scheme: dark;
}
html{
    scroll-behavior: smooth;
}
.input {
            width: 100%;
            padding: 12px;
            border-radius: 8px;
            border: 1px solid rgba(255,255,255,0.3);
            background: rgba(255,255,255,0.1);
            outline: none;
            transition: 0.3s;
          }

          .input:focus {
            border-color: orange;
            box-shadow: 0 0 8px orange;
          }

          .animate-fadeIn {
            animation: fadeIn 1s ease-in-out;
          }

          @keyframes fadeIn {
            from {
              opacity: 0;
              transform: translateY(30px);
            }
            to {
              opacity: 1;
              transform: translateY(0);
            }

        }